#box{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
}
body{
    background-image: url(./img/High_resolution_wallpaper_background_ID_77701883882.jpg);
    background-size: cover;
}