<div id="hola">
    <div id="hello">
        <button>J</button>
        <button>O</button>
        <button>S</button>
        <button>E</button>
        <button></button>
        <button>C</button>
        <button>A</button>
        <button>B</button>
        <button>R</button>
        <button>E</button>
        <button>J</button>
        <button>O</button>
    </div>
    <div>
        <p><my-but></my-but></p> 
    </div>
    
</div>
<style>
    #hola{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5px;
        margin-right: 10px;
    }
    #hello{
        display: flex;
        flex-direction: row;
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 0 20px rgb(83, 197, 217);
        font-weight: bold;
        text-shadow: 3px 3px 3px rgba(71, 219, 230, 0.776);
    }

</style>